<% @places.each do |place| %>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= place.name %></h1>
  <i><%= place.address %></i><br /><br />
  <p><%= place.description %></i><br />
  </div>
  <% end %>
  <hr />
  
  <div class="col-xs-12 col-xs-offset-1">
    <%= paginate @places %><br />
    <%= page_entries_info @places %>
  </div>